.errorpage {
  background-image: url("https: //i.ibb.co/9vbrJpK/2695096.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 750px;
}


/* background-image: url("paper.gif");
background-color: #cccccc; */