.banner-home {
  background-image: linear-gradient(rgba(22, 9, 1, 0.527), rgba(0, 0, 0, 0.7)), url(../../../Assets/banner2.jpg);
  background-size: cover;
  background-color: black;
  height: 800px;
}

.home-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7)), url('../../../Assets/banner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  margin-top: -100px;
}

.home-background-dark {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.699),
      rgba(0, 0, 0, 0.822)), url('../../../Assets/banner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;

  margin-top: -100px;
}